{{ define "title" }}Admigo{{ end }}
{{ define "content" }}
<section class="hero is-info is-large is-clipped">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Admigo is a responsive admin panel
      </p>
      <p class="subtitle notification is-info">
        You can customize this admin panel as you wish.<br />
        It is very easy to do, because it's based at<br/>
        <a href="https://golang.org">Golang</a>, <a href="https://vuejs.org">Vue.js</a> and <a href="https://bulma.io">Bulma.io</a>
      </p>
     </div>
  </div>
</section>
{{ end }}