{{ define "layout" }}
<!DOCTYPE html>
<html lang="en" class="fullheight">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/favicon.png?v=1" />
    <title>
    {{ block "title" . }}
    {{ end }}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/lib/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    {{ block "styles" . }}
    {{ end }}
  </head>
  <body class="fullheight">
    <div class="columns fullheight">
      {{ template "sidebar" . }}
      <div class="column is-10 is-paddingless hide-sb">
        {{ template "navbar" . }}
        {{ block "content" . }}
        {{ end }}
      </div>
    </div>
    <!-- scripts -->
    <script src="/static/js/manifest.js"></script>
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/sb.js"></script>
    {{ block "scripts" . }}
    {{ end }}
  </body>
</html>
{{ end }}